# Build and distribution artifacts
dist/
build/

# Python caching directories
__pycache__/
**/__pycache__/

# Python runtime and environment configurations
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# macOS Finder configuration files
.DS_Store
**/.DS_Store